/Reactjs/CourseReactNextJS/projeto-react-basico/node_modules
Reactjs/Front-Upvote-App/server/node_modules

/composite-pattern-react/

/Reactjs/Nextjs/app-router/node_modules
/Reactjs/Nextjs/app-router/node_modules

/Reactjs/Nextjs/page-router/node_modules