<h1>Cases</h1>
<hr />
<section>
  <a href="#" routerLink="validatorsAsync">Validators async</a><br /><br />
  <hr style="width: 50vw; margin-left: 0px" />
  <a href="#" routerLink="product">Auxiliary routes | product</a><br /><br />
  <a href="#" routerLink="shopping">Auxiliary routes | shopping</a><br /><br />
  <a
    href="https://javascript.plainenglish.io/using-auxiliary-routes-in-angular-to-reduce-application-size-1058f4566854">
    Link do conteúdo
  </a>
  <hr style="width: 50vw; margin-left: 0px" />
  <a href="#" routerLink="skeleton">Skeleton</a><br /><br />
  <hr style="width: 50vw; margin-left: 0px" />
  <a href="#" routerLink="trackByFn">trackByFn</a><br /><br />
  <hr style="width: 50vw; margin-left: 0px" />
  <a href="#" routerLink="captcha">captcha</a><br /><br />
  <a href="#" routerLink="inputModel">inputModel</a><br /><br />
  <hr style="width: 50vw; margin-left: 0px" />

</section>
<div style="float: right; padding-right: 70px">
  <router-outlet></router-outlet>
  <router-outlet name="product"></router-outlet>
  <router-outlet name="shopping"></router-outlet>
</div>
